.color{
    background-color: #343030;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field{
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;
}

.btnClose{
    margin-left: 10px;
}